<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>INFT App</title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- Hidden Spinning Wheel -->
    <div class="spin-background" id="spin">
        <img class="spin" src="../images/icon.png">
    </div>
    <!-- End Spinning Wheel -->

    <!-- Dialog HTML definition -->
    <dialog id="dialog">
        <div id="dialog-content">
            <h2 id="dialog-title"></h2>
            <p id="dialog-text"></p>
        </div>
        <button id="dialog-close" aria-label="close" class="x">❌</button>
    </dialog>
    <!-- end Dialog HTML definition -->

    <section class="main-banner-gradient">
        <div id="main">
            <!-- Navbar Definition -->
            <button class="navbar-toggler navbar-toggler-visible" type="button" id="navbar-expander"> <span
                    class="fas fa-bars"></span> </button>
            <div id="sidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" id="nav-closer">&times;</a>
                <a href="/"><img class="wow fadeInUp app-logo" src="../images/logo.png" data-wow-delay="0.2s"></a>
                <a href="#"><i ></i></a>
                <a href="#" id="marketplace" class=""><h4>Hi, <%- username %>!</h4></a>
                <a href="#"><i></i></a>
                <a href="#" id="profiles"><i class="fa-solid fa-wand-magic-sparkles"></i> Mint!</a>
                <a href="#"><i></i></a>
                <a href="#" id="nfts"><i class="fa-solid fa-list"></i> My NFTs</a>
                <a href="#" id="marketplace"><i class="fa-solid fa-square-poll-vertical"></i> Marketplace</a>
                <a href="#"><i></i></a>
                <a href="#"><i></i></a>
                <a href="#" id="profiles"><i class="fa fa-user"></i> My Profile</a>
                <a href="/signout" class="about-btn-solid navbar-centered">Logout</a>
            </div>
            <!-- End Navbar Definition -->
            <div class="container centered-section" id="main-frame">
                <div class="text-center">

                    <h4>Your user data:</h4>
                    <script>
                        var output = <%- userdata %>;
                    </script>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="tile">
                                <img src="../images/sample/1.jpg" class="tile-icon centered">
                                <script>
                                    document.write("<h4>" + output.name + "</h4>");
                                    document.write("<p>" + output.username + "</p>");
                                </script>
                                <a href="#" class="about-btn-solid read-more-nft">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="tile">
                                <img src="../images/sample/2.png" class="tile-icon">
                                <script>
                                    document.write("<h4>" + output.name + "</h4>");
                                    document.write("<p>" + output.username + "</p>");
                                </script>
                                <a href="#" class="about-btn-solid read-more-nft">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="tile">
                                <img src="../images/sample/3.png" class="tile-icon">
                                <script>
                                    document.write("<h4>" + output.name + "</h4>");
                                    document.write("<p>" + output.username + "</p>");
                                </script>
                                <a href="#" class="about-btn-solid read-more-nft">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="tile">
                                <img src="../images/sample/4.png" class="tile-icon">
                                <script>
                                    document.write("<h4>" + output.name + "</h4>");
                                    document.write("<p>" + output.username + "</p>");
                                </script>
                                <a href="#" class="about-btn-solid read-more-nft">Read More</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</body>

</html>

<script src="../node_modules/ejs/ejs.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<!-- scrollIt js -->
<script src="js/scrollIt.min.js"></script>
<script src="js/wow.min.js"></script>
<script>
    wow = new WOW();
    wow.init();
    $(document).ready(function (e) {
        var opened_tab = "";

        //navbar
        $('#navbar-expander').on('click', function (e) {
            if ($('#sidenav').css('width') == '0px') {
                $('#sidenav').css('width', '250');
                document.getElementById("main").style.marginLeft = "250px";
            } else if ($('#sidenav').css('width') == '250px') {
                $('#sidenav').css('width', '0');
                document.getElementById("main").style.marginLeft = "0px";
            }
        });

        $('#nav-closer').on('click', function (e) {
            $('#sidenav').css('width', '0');
            document.getElementById("main").style.marginLeft = "0px";
        });

        /*
            Profiles Tab 
        */

        $('#profiles').on('click', function (e) {
            if (opened_tab != "profile") {
                $.get('./views/profile.ejs', function (template) {
                    // Compile the EJS template.
                    var base_template = ejs.compile(template);
    
                    $.get('/profile', function (data) {
                    // Generate the html from the given data.
                        var html = base_template(data);
                        opened_tab = "profile";
                        $('#main-frame').html(html);
                    });
                });
            }
        });

        /*
            End Profiles Tab 
        */

        /*
            NFTs Tab 
        */

        $('#nfts').on('click', function (e) {
            $.get('./views/profile.ejs', function (template) {
                // Compile the EJS template.
                var base_template = ejs.compile(template);

                $.get('/profile', function (data) {
                // Generate the html from the given data.
                    var html = base_template(data);
                    $('#main-frame').html(html);
                });
            });
        });

        /*
            End NFTs Tab 
        */

        /*
            Marketplace Tab 
        */

        $('#profiles').on('click', function (e) {
            $.get('./views/profile.ejs', function (template) {
                // Compile the EJS template.
                var base_template = ejs.compile(template);

                $.get('/profile', function (data) {
                // Generate the html from the given data.
                    var html = base_template(data);
                    $('#main-frame').html(html);
                });
            });
        });

        /*
            End Marketplace Tab 
        */
    });

    /* Dialog Methods */
    $('#dialog-close').on('click', function (e) {
        $('#dialog-title').text('');
        $('#dialog-text').text('');
        enableScroll();
        window.dialog.close();
    });
    function openModal(title, text) {
        $('#dialog-title').text(title);
        $('#dialog-text').text(text);
        disableScroll();
        window.dialog.showModal();
    }
    function disableScroll() {
        // Get the current page scroll position
        scrollTop =
            window.pageYOffset || document.documentElement.scrollTop;
        scrollLeft =
            window.pageXOffset || document.documentElement.scrollLeft,

            // if any scroll is attempted,
            // set this to the previous value
            window.onscroll = function () {
                window.scrollTo(scrollLeft, scrollTop);
            };
    }
    function enableScroll() {
        window.onscroll = function () { };
    }
    /* End Dialog Methods */
</script>