<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>INFT</title>
  <link rel="shortcut icon" href="./res/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Google -->
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- Hidden Spinning Wheel -->
  <div class="spin-background" id="spin">
    <img class="spin" src="../res/icon.png">
    <!-- <a href="/" class="x"><i class="fa-solid fa-x"></i></a> -->
  </div>
  <!-- End Spinning Wheel -->

  <!-- Dialog HTML definition -->
  <dialog id="dialog">
    <div id="dialog-content">
      <h2 id="dialog-title"></h2>
      <p id="dialog-text"></p>
    </div>
    <button id="dialog-close" aria-label="close" class="x">❌</button>
  </dialog>
  <!-- end Dialog HTML definition -->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand navbar-logo mobile-hidden" href="/"> <img src="res/logo.png" alt="logo" class="logo-1">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
          class="fas fa-bars"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="0">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="1">What's INFT</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="5">Faq</a> </li>
          <script>
            var authenticated = <%- isAuthenticated %>;
            if (authenticated) {
              document.write(`
                <li class="nav-item"> <a class="nav-link" href="/signout">Signout</a> </li>
              `);
            } else {
              document.write(`
                <li class="nav-item"> <a class="nav-link" href="/login">Signin</a> </li>
              `);
            }
          </script>
          <!-- <li class="nav-item"> <a class="nav-link" href="/login">Signin</a> </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <!-------Banner Start------->
  <section id="main-banner" class="main-banner" data-scroll-index='0'>
    <div>
      <div class="container centered-section">
        <div class="text-center">
          <img src="res/logo-highres.png" class="wow fadeInUp header-padding-image" data-wow-delay="0.4s" />
          <h4>A powerful, customizable, and scalable ERP solution based on modern blockchain technologies.</h4>
          <div class="row">
            <div id="browse-docs" class="col-md-12"><a href="/login" class="about-btn-solid">Open the App</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-------Banner End------->

  <!-------About Start------->

  <section class="about section-padding prelative" data-scroll-index='1'>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sectioner-header text-center">
            <h3>How INFT can transform your business</h3>
            <span class="line"></span>
            <p>INFT is a powerful, customizable, and scalable ERP solution based on modern blockchain technologies. 
              It allows you to manage your business processes, data, and transactions in a secure, efficient, and transparent way,
              getting the best from the blockchain technology.</p>
          </div>
          <div class="section-content text-center">
            <div class="row">
              <div class="col-md-4">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s"> <i class="fa fa-database"
                    aria-hidden="true"></i>
                  <h5>Resilient data</h5>
                  <p>Cutting-edge blockchain technology: no one will ever change your data. Period. 
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s"> <i class="fa fa-earth-europe"
                    aria-hidden="true"></i>
                  <h5>Available everywhere</h5>
                  <p>Desktop, mobile, on the other side of the world: INFT will work exactly the same.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.6s"> <i class="fa fa-gears" aria-hidden="true"></i>
                  <h5>Tailor-made</h5>
                  <p>Build exactly what you want, when you want it, and share it with everyone, everywhere.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-------About End------->

  <!-------FAQ Start------->
  <section class="faq section-padding prelative" data-scroll-index='5'>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sectioner-header text-center">
            <h3>Frequently Asked Questions</h3>
            <span class="line"></span>
            <p>INFT is the future of ERP. Find out more about INFT and its advantages.</p>
          </div>
          <div class="section-content">
            <div class="row">
              <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.2s">
                <h4>How to use the platform?</h4>
                <p>Simply sign-in with your email address: no need to have a Web3 wallet or even have to know what one is!</p>
              </div>
              <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.2s">
                <h4>How can i keep my resource online forever?</h4>
                <p>Just head to the "Mint" section inside the app. Type your info, and voilà! Your NFT will be ready.</p>
              </div>
              <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.4s">
                <h4>Where will my data be stored?</h4>
                <p>In the internet! INFT allows for a quick distribution of your image all across the world.</p>
              </div>
              <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.4s">
                <h4>Can everyone see which achievements I've got?</h4>
                <p>Yes, the blockchain technology is fully public, you should only publish what you can and should share!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-------FAQ End------->

  <!-------Contact Start------->
  <section class="contact section-padding" data-scroll-index='6'>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sectioner-header text-center">
            <h3>Contact us</h3>
            <span class="line"></span>
            <p>You can easily customize and integrate INFT with your existing systems, and enjoy the benefits of a decentralized,
               distributed, and immutable ledger. Contact us!</p>
          </div>
          <div class="section-content">
            <div class="row">
              <div class="col-md-12">
                <form id="contact_form" action="/" method="post">
                  <div class="row">
                    <div class="col">
                      <input type="text" id="your_name" class="form-input w-100" name="name" placeholder="Full Name"
                        required>
                    </div>
                    <div class="col">
                      <input type="email" id="email" class="form-input w-100" name="email" placeholder="Email" required>
                    </div>
                  </div>
                  <input type="text" id="subject" class="form-input w-100" name="subject" placeholder="Subject">
                  <textarea class="form-input w-100" id="message" placeholder="Message" name="message"></textarea>
                  <button class="about-btn-solid w-100" type="submit" name="button">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-------Contact End------->

  <footer class="footer-copy">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <p>2024 &copy; INFT</p>
        </div>
      </div>
    </div>
  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <!-- scrollIt js -->
  <script src="../js/scrollIt.min.js"></script>
  <script src="../js/wow.min.js"></script>
  <script>
    wow = new WOW();
    wow.init();
    $(document).ready(function (e) {
      $('.slider').bxSlider({
        pager: false
      });
    });

    $(window).on("scroll", function () {

      var bodyScroll = $(window).scrollTop(),
        navbar = $(".navbar");
      navbar_logo = $(".navbar-logo");

      if (bodyScroll > 50) {
        $('.navbar-logo img').attr('src', 'res/logo-black.png');
        navbar.addClass("nav-scroll");
        navbar_logo.removeClass("mobile-hidden");

      } else {
        $('.navbar-logo img').attr('src', 'res/logo.png');
        navbar.removeClass("nav-scroll");
        navbar_logo.addClass("mobile-hidden");
      }

    });
    $(window).on("load", function () {
      var bodyScroll = $(window).scrollTop(),
        navbar = $(".navbar");

      if (bodyScroll > 50) {
        $('.navbar-logo img').attr('src', 'res/logo-black.png');
        navbar.addClass("nav-scroll");
      } else {
        $('.navbar-logo img').attr('src', 'res/logo-white.png');
        navbar.removeClass("nav-scroll");
      }

      $.scrollIt({

        easing: 'swing',      // the easing function for animation
        scrollTime: 700,       // how long (in ms) the animation takes
        activeClass: 'active', // class given to the active nav element
        onPageChange: null,    // function(pageIndex) that is called when page is changed
        topOffset: -63
      });
    });
  </script>
</body>

</html>