<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mainpage</title>
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section class="main-banner-gradient">
        <div class="text-center">
            <h4>Your user data:</h4>
            <script>
                var output = <%- username %>;
                document.write(output);
            </script>
            <div class="tile">
                <img src="../res/sample/1.jpg" class="tile-icon centered">
                <script>
                    document.write("<h4>" + output.name + "</h4>");
                    document.write("<p>" + output.username + "</p>");
                </script>
                <a href="#" class="about-btn-solid read-more-nft">Read More</a>
            </div>
            <div class="tile">
                <img src="../res/sample/2.png" class="tile-icon">
                <script>
                    document.write("<h4>" + output.name + "</h4>");
                    document.write("<p>" + output.username + "</p>");
                </script>
                <a href="#" class="about-btn-solid read-more-nft">Read More</a>
            </div>
            <div class="tile">
                <img src="../res/sample/3.png" class="tile-icon">
                <script>
                    document.write("<h4>" + output.name + "</h4>");
                    document.write("<p>" + output.username + "</p>");
                </script>
                <a href="#" class="about-btn-solid read-more-nft">Read More</a>
            </div>
        </div>
    </section>
</body>

</html>

<!-- JQuery / JQuery UI imports -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<!-- End JQuery / JQuery UI imports -->

<!-- scrollIt js -->
<script src="js/scrollIt.min.js"></script>
<script src="js/wow.min.js"></script>
<!-- End scrollIt js -->

<!-- Custom Page Logic -->
<script>
    wow = new WOW();
    wow.init();
</script>
<!-- End Custom Page Logic -->