<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mint your NFT!</title>
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="js/scrollIt.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script> //WOW effect initialization
        wow = new WOW();
        wow.init();
        $('#spin').hide(0);
    </script>

    <!-- Custom Page Logic -->
    <script type="module" src="../js/library.js"></script>
    <script type="module" src="../js/ui/mint.js"></script>
    <!-- End JS -->
</head>

<body>
    <section>
        <div class="col-md-12">
            <div class="text-center">

                <form class="text-center prelative" id="mintform">
                    <div>
                        <h3 class="centered" style="margin-top: 15%;">Your NFT</h3>
                        <span class="line"></span>
                        <img class="card-icon" style="
                        	-webkit-transform: scale(0.90) !important;
                            transform: scale(0.90) !important;" 
                            src="../res/user.png" alt="User">

                        <div class="normal-padding">
                            <!-- Only ASCII chars allowed for nftname -->
                            <div><input type="text" id="nftname" class="form-input" placeholder="Name*" required></div> 
                            <div><input type="number" id="nftamount" class="form-input" name="amount" min="1" placeholder="Amount*" required/></div>
                        </div>
                        <input type="file" id="file-upload" multiple required> 
                        <h5 id="additional-items">Additional details</h5>
                        <div id="additional-items-container">
                            <div class="col-md-12">
                                
                                <input type="textarea" id="nftdescription" class="form-input" placeholder="Description">
                            </div>
                            <div>
                                <input type="text" id="nfturl" class="form-input" placeholder="Website URL">
                            </div>
                            <div>
                                <input type="text" id="nftanimationvideourl" class="form-input" placeholder="Animation Video">
                                <p></p>
                                <h6>Note: if populated, will sobstitute the image with the animation.</h6>
                            </div>
                            <div> 
                                <input type="checkbox" id="nftburnable" class="form-input" placeholder="Burnable?">
                                <label for="nftburnable">Burnable?</label>
                                <input type="checkbox" id="nftmutable" class="form-input" placeholder="Mutable?">
                                <label for="nftmutable">Mutable?</label>
                            </div>
                        </div>       
                        <span class="line"></span>
                        <button class="about-btn-solid w-50 text-uppercase" type="submit" name="send" id="mint-button">Mint!</button>
                    </div>

                </form>
            </div>
        </div>
    </section>
</body>

</html>

                
                <!--  
                    Requested data for NFT minting:
                        string image url
                        string name

                        (optional) string description
                        (optional) string url for redirect
                        (optional) string YT video
                        (optional) obj attributes, eg:
                        { 
                            "trait_type": "Periodo Storico", 
                            "value": "Vecchia Repubblica"
                        },
                -->