<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Your NFTs</title>
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="js/scrollIt.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script> //WOW effect initialization
        wow = new WOW();
        wow.init();
    </script>

    <!-- Custom Page Logic -->
    <script type="module" src="../js/library.js"></script>
    <script type="module" src="../js/ui/nfts.js"></script>
    <!-- End JS -->
</head>

<script type="module">
    import { loadNFTImages } from '../js/ui/nfts.js';
    var output = '<%= usernfts %>';

    var nfts = loadNFTImages(output);
    console.log(nfts);
    
</script>

<body>
    <section class="main-banner-gradient">
        <div>
            <h3 class="text-center">My NFTs Collection</h3>
            <span class="line"></span>  

        </div>
    </section>
</body>

</html>