<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Requests</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section class="contact section-padding" data-scroll-index='1'>
        <div class="sectioner-header text-center">
            <h3>Past Requests</h3>
            <span class="line"></span>
            <p>Here are all past requests:</p>
            <div class="section-content wow fadeInUp">
                <script>
                    records = JSON.parse(`<%- _records %>`);
                    if(Object.keys(records).length > 0){
                        for(var i=0; i < Object.keys(records).length; i++){
                            document.write(
                            `                            
                            <div class="section-content text-center">
                                <div class="col-md-4">
                                    <h4>${records[i].name}</h4>
                                    <p>Email: ${records[i].email}</p>
                                    <p>Subject: ${records[i].subject}</p>
                                    <p>Message: ${records[i].message}</p>
                                </div>
                            </div>
                            `
                            );
                        }
                    }
                    else{
                        document.write(
                            `                            
                            <div class="section-content text-center">
                                <h4>No Records found!</h4>
                            </div>
                            `
                            );
                    }
                    
                </script>
                <form action="/" method="get">
                    <button class="w-25 about-btn" name="button">Back to main Page</button> 
                </form>
                
            </div>
        </div>
    </section>
</body>

</html>